.THEME {
  &__button {
    outline: none;
    border: none;
    padding: 0.6rem 2rem;
    border-radius: 4px;
    font-weight: 700;
    transition: 0.2s ease;
    &:focus {
      outline: none;
    }
    &:hover {
      transition: 0.2s ease;
    }
    &-primary {
      background-color: $theme_primary-color;
      color: $white;
      &:hover {
        background-color: darken($theme_primary-color, 10);
      }
    }
    &-secondary {
      background-color: $black;
      color: $white;
      &:hover {
        background-color: lighten($black, 20);
      }
    }
    &-transparent {
      background-color: transparent;
      border: 1px solid $theme_primary-color;
      color: $theme_primary-color;
      &:hover {
        background-color: $theme_primary-color;
        color: $black;
      }
    }
    &-link {
      padding: 0;
      background: transparent;
      color: $theme_primary-color;
      &:hover {
        color: darken($theme_primary-color, 10);
        text-decoration: underline;
      }
    }
  }
  &__section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &-small {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  &__position-relative {
    position: relative;
  }
  &__position-absolute {
    position: absolute;
  }
  &__complete-anchor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  &__br-4 {
    border-radius: 4px;
  }
  &__br-5 {
    border-radius: 5px;
  }
  &__br-6 {
    border-radius: 6px;
  }
  &__br-7 {
    border-radius: 7px;
  }
  &__br-8 {
    border-radius: 8px;
  }
  &__br-9 {
    border-radius: 9px;
  }
  &__br-10 {
    border-radius: 10px;
  }
  &__br-15 {
    border-radius: 15px;
  }
  &__br-20 {
    border-radius: 20px;
  }
  &__br-25 {
    border-radius: 25px;
  }
  &__z-index-1 {
    z-index: 1;
  }
  &__z-index-5 {
    z-index: 5;
  }
  &__z-index-10 {
    z-index: 10;
  }
  &__text-body-light {
    color: $theme_light-body-color !important;
  }
  &__text-body-primary {
    color: $theme_primary-body-color !important;
  }
  &__text-heading-color {
    color: $theme_headings-color !important;
  }
  &__bg-primary {
    background-color: $theme_primary-color !important;
  }
  &__bg-white {
    background-color: $white !important;
  }
  &__bg-black {
    background-color: $black !important;
  }
  &__bg-gray {
    background-color: $gray !important;
  }
  &__bg-light {
    background-color: #f4f4f4 !important;
  }
  &__bg-dark {
    background-color: #253342 !important;
  }
  &__bg-sky {
    background-color: $sky !important;
  }
  &__f-400 {
    font-weight: 400 !important;
  }
  &__f-500 {
    font-weight: 500 !important;
  }
  &__f-600 {
    font-weight: 600 !important;
  }
  &__f-700 {
    font-weight: 700 !important;
  }
  &__f-800 {
    font-weight: 800 !important;
  }
  &__f-900 {
    font-weight: 900 !important;
  }
  &__mw-400 {
    max-width: 400px !important;
  }
  &__mw-450 {
    max-width: 450px !important;
  }
  &__mw-500 {
    max-width: 500px !important;
  }
  &__mw-600 {
    max-width: 600px !important;
  }
  &__mw-700 {
    max-width: 700px !important;
  }
  &__mw-800 {
    max-width: 800px !important;
  }
  &__mw-900 {
    max-width: 900px !important;
  }
  &__mw-1000 {
    max-width: 1000px !important;
  }
  &__mw-1100 {
    max-width: 1100px !important;
  }
  &__mw-80-percent {
    max-width: 80% !important;
  }
  &__min-height-600 {
    min-height: 600px !important;
  }
  &__min-height-400 {
    min-height: 400px !important;
  }
  &__min-height-500 {
    min-height: 500px !important;
  }
  &__border-top {
    border-top: 2px solid $theme_border-color !important;
  }
  &__border-bottom {
    border-bottom: 2px solid $theme-border-color !important;
  }
  &__border {
    border: 2px solid $theme-border-color !important;
  }
  &__underlined-text {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      max-width: 120px;
      transform: translateX(-50%);
      height: 2px;
      left: 50%;
    }
    &-color-primary {
      &:before {
        background-color: $theme_primary-color;
      }
    }
  }
  &__hide-after-992 {
    display: block;
    @media (min-width: 992px) {
      display: none;
    }
  }
  &__show-after-992 {
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
  }
  &__hide-after-768 {
    display: block;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__show-after-768 {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
  &__text-inverted {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul li,
    ol li,
    p,
    span {
      color: $white !important;
    }
    a {
      color: $white !important;
      text-decoration: underline;
    }
  }
  &__inherited-anchor {
    color: inherit !important;
    text-decoration: unset;
    &:hover {
      color: inherit !important;
      text-decoration: unset;
    }
  }
  &__full-cover-anchor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  &__object-fit-contain {
    object-fit: contain !important;
  }
  &__z-index-5 {
    z-index: 5;
  }
  &__text-uppercase {
    text-transform: uppercase;
  }
  &__box-shadow {
    box-shadow: $theme_primary-box-shadow;
  }
  &__overflow-hidden {
    overflow: hidden !important;
  }
  &__subtitle-text {
    font-size: 1.125rem;
  }
  // New Theme items here
}
