// Variables (May be editable in the future within the design manager)
$theme_primary-color: #570ef8;
$theme_secondary-color: #3a8dd2;
$theme_tertiary-color: #5c5c5d;
$theme_headings-color: #0f172b;
$theme_primary-body-color: #475569;
$theme_light-body-color: #686868;
$theme_primary-box-shadow: 0px 3px 25px #0000001a;
$theme_border-color: #efefef;
$theme_body-line-height: 1.7;
$theme_heading-line-height: 1.2;
$sky: rgba(245, 248, 250, 1);
$white: #fff;
$gray: rgba(246, 246, 247, 1);
$black: #000;
