.dots {
  color: rgb(124, 152, 182);
  line-height: 0.3;
  white-space: pre-wrap;
  font-size: 18px;
}

.cursor-grab {
  cursor: grab;
}

.focus__shadow-green {
  &:focus {
    box-shadow: rgb(0 208 228 / 30%) 0px 0px 4px 1px, rgb(0 208 228) 0px 0px 0px 1px;
  }
}

.CUSTOM {
  &__selected-block,
  &__hovered-block {
    position: relative;
    outline-offset: -2px;
  }
  &__selected-block {
    outline: 2px solid #00a4bd !important;
  }
  &__hovered-block {
    outline: 2px solid #7fd1de;
  }
}
