.dots {
  color: rgb(124, 152, 182);
  line-height: 0.3;
  white-space: pre-wrap;
  font-size: 18px;
}

.cursor-grab {
  cursor: grab;
}

.focus__shadow-green {
  &:focus {
    box-shadow: rgb(0 208 228 / 30%) 0px 0px 4px 1px, rgb(0 208 228) 0px 0px 0px 1px;
  }
}

.CUSTOM {
  &__transform-translate-y-negative-50 {
    transform: translateY(-50%);
  }
  &__progress {
    &-0 {
      height: 100%;
      border-radius: 100px;
      background-color: #00a4bd;
    }
  }
  &__z-index-high {
    z-index: 5000000000;
  }
  &__z-index-most-high {
    z-index: 50000000000;
  }
  &__selected-block,
  &__hovered-block {
    position: relative;
    outline-offset: -2px;
  }
  &__selected-block,
  &__hovered-block {
    &:before {
      content: "";
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 8;
    }
  }
  &__hovered-block {
    &::before {
      border: 2px solid #7fd1de !important;
    }
  }
  &__selected-block {
    &::before {
      border: 2px solid #00a4bd !important;
    }
  }
  &__rich-text-editor {
    color: #33475b;
    &__header {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      flex-wrap: wrap;
      padding: 0.25rem;
      button {
        transition: all 150ms ease-out 0s;
        background-color: transparent;
        border: none;
        border-radius: 3px;
        color: #0d0d0d;
        height: 1.75rem;
        margin-right: 0.25rem;
        padding: 0.25rem;
        width: 1.75rem;
        border: 1px solid transparent;
        svg {
          fill: #425b76;
          width: 18px;
          height: 18px;
        }
        &:not(.is-active) {
          &:hover {
            transition: all 150ms ease-out 0s;
            background-color: #f7f7f7;
            border: 1px solid rgb(153, 172, 194);
          }
        }
        &.is-active {
          background: rgb(203, 214, 226);
          border: 1px solid rgb(153, 172, 194);
          border-radius: 3px;
          display: inline-block;
          height: 27px;
          padding: 0px 4px;
          vertical-align: middle;
          transition: all 150ms ease-out 0s;
        }
      }
    }
    &__content-editable {
      min-height: 14rem;
      max-height: 18rem;
      overflow-y: scroll;
    }
  }
}

.RENDERER {
  .COMPONENT__editor__frame {
    min-height: 100vh;
  }
}

.COMPONENT {
  &__editor {
    > div {
      &:first-child {
        min-height: 80vh;
      }
    }
    &__frame {
      min-height: 80vh;
    }
  }
  &__drawer {
    transition: 0.2s ease;
    transform: translateX(500px);
    pointer-events: none;
    visibility: hidden;
    &-active {
      transition: 0.2s ease;
      transform: translateX(0);
      pointer-events: all;
      visibility: visible;
    }
  }
  &__tint {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    &-active {
      visibility: visible;
      opacity: 1;
      transition: 0.2s ease;
      pointer-events: all;
    }
  }
  &__table {
    thead {
      position: relative;
      z-index: 3;
      th {
        font-weight: 500;
        font-size: 12px;
        background-color: rgb(245, 248, 250);
        color: rgb(51, 71, 91);
        height: 44px;
        padding: 8px 24px 4px;
        text-align: left;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }
    tbody {
      td {
        hyphens: auto;
        height: 72px;
        overflow-wrap: break-word;
        padding: 16px 24px;
        vertical-align: middle;
        border-color: rgb(223, 227, 235) !important;
        border-style: solid;
        border-width: 1px 0px 0px;
        background-color: transparent;
      }
      tr {
        background-color: #fff;
        transition: background-color 150ms ease-out 0s;
        &:not(.loader-wrapper) {
          &:hover {
            background-color: #f5f8fa;
            cursor: pointer;
          }
        }
      }
    }
  }
  &__image-preview {
    background-color: #fff;
    background-image: linear-gradient(45deg, #eee 25%, transparent 0, transparent 75%, #eee 0, #eee),
      linear-gradient(45deg, #eee 25%, transparent 0, transparent 75%, #eee 0, #eee);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    border: 1px solid #eaf0f6;
    &__tint {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: RGB(37 51 66 / 70%);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: 0.2s ease;
      border-radius: 4px;
    }
    &:hover {
      .COMPONENT__image-preview__tint {
        opacity: 1;
        transition: 0.2s ease;
      }
    }
  }
  &__spinner {
    .loader {
      position: relative;
      margin: 0 auto;
      width: 50px;
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
    .circular {
      animation: rotate 2s linear infinite;
      height: 100%;
      transform-origin: center center;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
      stroke-linecap: round;
    }
    &-button {
      .loader {
        width: 20px;
      }
    }
    &-white {
      .path {
        animation: dash 1.5s ease-in-out infinite, colorWhite 6s ease-in-out infinite;
      }
    }
    &-xs {
      .loader {
        width: 15px;
      }
    }
  }
  &__skeleton-box {
    position: relative;
    overflow: hidden;
    background-color: #e2e8f0;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0)
      );
      animation: shimmer 3s infinite;
      content: "";
    }
    &-dark {
      background-color: #424a52;
      &::after {
        background-image: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0,
          rgba(0, 0, 0, 0.2) 20%,
          rgba(46, 46, 46, 0.5) 60%,
          rgba(255, 255, 255, 0)
        );
      }
    }
  }
  // New Components here
}

.craft-layer-node.ROOT {
  color: #506e91;
  > div {
    background-color: transparent;
    > div {
      &:first-child {
        display: none;
      }
    }
    .craft-layer-node {
      > div {
        background-color: transparent;
        > div {
          cursor: grab;
          padding: 0.8rem 1rem;
          border-bottom: 2px solid #cbd6e2;
          color: #506e91;
          background-color: transparent !important;
          &:hover {
            background-color: #eaf0f6 !important;
          }
          &.eMwhEl {
            background-color: #eaf0f6 !important;
          }
          svg {
            fill: #869aaf !important;
          }
        }
      }
    }
  }
}

// Keyframe Animations
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #4f96d3;
  }
  40% {
    stroke: #4f96d3;
  }
  66% {
    stroke: #4f96d3;
  }
  80%,
  90% {
    stroke: #4f96d3;
  }
}

@keyframes colorWhite {
  100%,
  0% {
    stroke: #fff;
  }
  40% {
    stroke: #fff;
  }
  66% {
    stroke: #fff;
  }
  80%,
  90% {
    stroke: #fff;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

// Utilities
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// ******Block styles -- Bootstrap enabled ******

// Variables (May be editable in the future within the design manager)
$theme_primary-color: #570ef8;
$theme_headings-color: #0f172b;
$theme_primary-body-color: #3d4a5c;
$theme_light-body-color: #686868;
$theme_primary-box-shadow: 0px 3px 25px #0000001a;
$theme_border-color: #efefef;
$sky: rgba(245, 248, 250, 1);
$white: #fff;
$gray: rgba(246, 246, 247, 1);
$black: #000;

.BS_ENABLED {
  // @import "includes/bootstrap";
  @import "../node_modules/bootstrap/scss/bootstrap.scss";
  // overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  font-weight: 400;
  color: $theme_primary-body-color;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    line-height: 1.3;
    font-weight: 800;
    color: $theme_headings-color;
  }
  h1,
  .h1 {
    font-size: 3rem;
  }
  h2,
  .h2 {
    font-size: 2.5rem;
  }
  h3,
  .h3 {
    font-size: 2.25rem;
  }
  h4,
  .h4 {
    font-size: 2rem;
  }
  h5,
  .h5 {
    font-size: 1.75rem;
  }
  h6,
  .h6 {
    font-size: 1.5rem;
  }
}

// Theme specific global styles for blocks
.BS_ENABLED {
  .THEME {
    &__button {
      outline: none;
      border: none;
      padding: 0.6rem 2rem;
      border-radius: 4px;
      font-weight: 700;
      transition: 0.2s ease;
      &:focus {
        outline: none;
      }
      &:hover {
        transition: 0.2s ease;
      }
      &-primary {
        background-color: $theme_primary-color;
        color: $white;
        &:hover {
          background-color: darken($theme_primary-color, 10);
        }
      }
      &-secondary {
        background-color: $black;
        color: $white;
        &:hover {
          background-color: lighten($black, 20);
        }
      }
      &-transparent {
        background-color: transparent;
        border: 1px solid $theme_primary-color;
        color: $theme_primary-color;
        &:hover {
          background-color: $theme_primary-color;
          color: $black;
        }
      }
    }
    &__section {
      padding-top: 4rem;
      padding-bottom: 4rem;
      &-small {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
    &__position-relative {
      position: relative;
    }
    &__position-absolute {
      position: absolute;
    }
    &__complete-anchor {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    &__br-4 {
      border-radius: 4px;
    }
    &__br-5 {
      border-radius: 5px;
    }
    &__br-6 {
      border-radius: 6px;
    }
    &__br-7 {
      border-radius: 7px;
    }
    &__br-8 {
      border-radius: 8px;
    }
    &__br-9 {
      border-radius: 9px;
    }
    &__br-10 {
      border-radius: 10px;
    }
    &__br-15 {
      border-radius: 15px;
    }
    &__br-20 {
      border-radius: 20px;
    }
    &__br-25 {
      border-radius: 25px;
    }
    &__z-index-1 {
      z-index: 1;
    }
    &__z-index-5 {
      z-index: 5;
    }
    &__z-index-10 {
      z-index: 10;
    }
    &__text-body-light {
      color: $theme_light-body-color !important;
    }
    &__text-body-primary {
      color: $theme_primary-body-color !important;
    }
    &__bg-primary {
      background-color: $theme_primary-color !important;
    }
    &__bg-white {
      background-color: $white !important;
    }
    &__bg-black {
      background-color: $black !important;
    }
    &__bg-gray {
      background-color: $gray !important;
    }
    &__bg-light {
      background-color: #f4f4f4 !important;
    }
    &__bg-dark {
      background-color: #253342 !important;
    }
    &__bg-sky {
      background-color: $sky !important;
    }
    &__f-400 {
      font-weight: 400 !important;
    }
    &__f-500 {
      font-weight: 500 !important;
    }
    &__f-600 {
      font-weight: 600 !important;
    }
    &__f-700 {
      font-weight: 700 !important;
    }
    &__f-800 {
      font-weight: 800 !important;
    }
    &__f-900 {
      font-weight: 900 !important;
    }
    &__mw-400 {
      max-width: 400px !important;
    }
    &__mw-450 {
      max-width: 450px !important;
    }
    &__mw-500 {
      max-width: 500px !important;
    }
    &__mw-600 {
      max-width: 600px !important;
    }
    &__mw-700 {
      max-width: 700px !important;
    }
    &__mw-800 {
      max-width: 800px !important;
    }
    &__mw-900 {
      max-width: 900px !important;
    }
    &__mw-1000 {
      max-width: 1000px !important;
    }
    &__mw-80-percent {
      max-width: 80% !important;
    }
    &__min-height-600 {
      min-height: 600px !important;
    }
    &__min-height-400 {
      min-height: 400px !important;
    }
    &__min-height-500 {
      min-height: 500px !important;
    }
    &__border-top {
      border-top: 2px solid $theme_border-color !important;
    }
    &__border-bottom {
      border-bottom: 2px solid $theme-border-color !important;
    }
    &__hide-after-992 {
      display: block;
      @media (min-width: 992px) {
        display: none;
      }
    }
    &__show-after-992 {
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }
    &__hide-after-768 {
      display: block;
      @media (min-width: 768px) {
        display: none;
      }
    }
    &__show-after-768 {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
    &__text-inverted {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      ul li,
      ol li,
      p,
      span {
        color: $white !important;
      }
    }
    &__inherited-anchor {
      color: inherit !important;
      &:hover {
        color: inherit !important;
      }
    }
    &__full-cover-anchor {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    &__object-fit-contain {
      object-fit: contain !important;
    }
    &__z-index-5 {
      z-index: 5;
    }
    &__text-uppercase {
      text-transform: uppercase;
    }
    &__box-shadow {
      box-shadow: $theme_primary-box-shadow;
    }
    &__overflow-hidden {
      overflow: hidden !important;
    }
    // New Theme items here
  }

  // Block specific styles
  .BLOCK {
    position: relative;
    &__headingDescriptionCTA {
      .container {
        position: relative;
        z-index: 1;
      }
      &__image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    // New Blocks here
  }

  // Module specific styles
  .MODULE {
    &__tint {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      &-dark {
        background-color: rgba(0, 0, 0, 0.65);
      }
    }
    // New Modules Here
  }
}
